.button {
    @include size(100%, auto);
    @include typo('body', 16);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1.8rem;
    background-color: map-get($colors, brand-2);
    color: map-get($colors, white);
    border-radius: 5rem;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
    cursor: pointer;

    @include media-breakpoint-down(medium) {
        padding: 0.4rem 1.2rem;
    }

    &.-red {
        background-color: map-get($colors, red);

        @include media-breakpoint-up(medium) {
            &:hover {
                background-color: map-get($colors, error);
            }
        }

        &.-outline {
            background-color: transparent;
            border: 1px solid map-get($colors, red);
            color: map-get($colors, red);

            @include media-breakpoint-up(medium) {
                &:hover {
                    background-color: map-get($colors, red);
                    color: map-get($colors, white);
                }
            }
        }

        &.-transparent {
            color: map-get($colors, red);
            background-color: transparent;
        }
    }

    &.-gray {
        color: map-get($colors, gray-1);
        background-color: map-get($colors, gray-2);
        border: 1px solid map-get($colors, gray-1);

        @include media-breakpoint-up(medium) {
            &:hover {
                color: map-get($colors, gray-2);
                background-color: map-get($colors, gray-1);
            }
        }
    }

    &.-outline {
        background-color: map-get($colors, white);
        border: 1px solid map-get($colors, brand-2);
        color: map-get($colors, brand-2);

        @include media-breakpoint-up(medium) {
            &:hover {
                background-color: map-get($colors, brand-2);
                color: map-get($colors, white);
            }
        }
    }

    &.-transparent {
        color: map-get($colors, brand-1);
        background-color: transparent;

        @include media-breakpoint-up(medium) {
            &:hover {
                background-color: transparent;
            }
        }

        &.-white {
            color: map-get($colors, white);
        }

        &.-outline {
            background-color: transparent;
            border: 1px solid map-get($colors, brand-2);
            color: map-get($colors, brand-1);

            @include media-breakpoint-up(medium) {
                &:hover {
                    background-color: map-get($colors, brand-2);
                    color: map-get($colors, white);
                }
            }
        }
    }

    &.-head {
        @include typo('head', 4);

        @include media-breakpoint-down(medium) {
            @include typo('body', 16);
        }
    }

    &.-disabled {
        background-color: map-get($colors, gray-2);
        color: map-get($colors, gray-1);
        border: 1px solid map-get($colors, gray-1);
        cursor: not-allowed;
        pointer-events: none;

        @include media-breakpoint-up(medium) {
            &:hover {
                background-color: map-get($colors, gray-2);
                color: map-get($colors, gray-1);
            }
        }
    }

    @include media-breakpoint-up(medium) {
        &:hover {
            background-color: map-get($colors, brand-1);
        }
    }
}