.cart-progress {
    @include size(100%, auto);

    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 4rem;

    @include media-breakpoint-down(medium) {
        margin-top: 0;
    }

    > span {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @include media-breakpoint-down(medium) {
            gap: 1.2rem;
        }

        &:first-child {
            > span {
                &::before {
                    display: none;
                }
            }
        }

        &:last-child {
            > span {
                &::after {
                    display: none;
                }
            }
        }

        &.-active {
            > p {
                color: map-get($colors, brand-1);
            }

            > span {
                background-color: map-get($colors, brand-1);
            }
        }

        &.-progress {
            > span {
                background-color: map-get($colors, brand-1);

                &::after {
                    background-color: map-get($colors, brand-1);
                }
            }

            + span {
                > span {
                    &::before {
                        background-color: map-get($colors, brand-1);
                    }
                }
            }
        }

        > p {
            @include typo('head', 5);

            color: map-get($colors, gray-1);

            @include media-breakpoint-down(medium) {
                @include typo('body', 14);
            }
        }

        > span {
            @include size(1.2rem);

            content: '';
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: map-get($colors, gray-1);

            &::after {
                @include size(12vw, .2rem);

                content: '';
                position: absolute;
                left: 0;
                background-color: map-get($colors, gray-1);
                z-index: -1;

                @include media-breakpoint-down(medium) {
                    @include size(14vw, .2rem);
                }
            }

            &::before {
                @include size(12vw, .2rem);

                content: '';
                position: absolute;
                right: 0;
                background-color: map-get($colors, gray-1);
                z-index: -1;

                @include media-breakpoint-down(medium) {
                    @include size(14vw, .2rem);
                }
            }
        }
    }
}