.cart-coupon {
    @include size(100%, auto);

    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 1.6rem 2.4rem;
    gap: 2.4rem;
    background-color: map-get($colors, white);
    box-shadow: 5px 5px 5px 0px rgba(map-get($colors, black-1), 0.15);
    border-radius: .4rem;
    border: 1px solid map-get($colors, white);
    transition: border-color .3s ease-in-out;

    @include media-breakpoint-down(medium) {
        padding: 1.6rem 1.2rem;
        gap: 1.2rem;
        flex-wrap: wrap;
    }

    &:has(input:checked) {
        border: 1px solid map-get($colors, red);

        .cart-coupon__btn {
            pointer-events: none;
            cursor: not-allowed;
        }
    }

    > figure {
        @include size(14.2rem, auto);
        @include aspect(1);

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: .4rem;

        @include media-breakpoint-down(medium) {
            @include size(7rem, auto);
        }

        > img {
            @include size(100%);

            position: absolute;
            object-fit: cover;
        }
    }

    &__information {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: .6rem;

        @include media-breakpoint-down(medium) {
            @include size(calc(100% - 7rem - 1.2rem), auto);

            flex: 0 0 auto;
        }

        > h4 {
            @include typo('head', 4);

            @include media-breakpoint-down(medium) {
                @include typo('body', 16);

                font-weight: bold;
            }
        }

        > p {
            @include typo('body', 16);

            color: map-get($colors, gray-1);

            @include media-breakpoint-down(medium) {
                @include typo('body', 14);
            }
        }

        > span {
            @include typo('body', 16);
            
            color: map-get($colors, brand-1);

            @include media-breakpoint-down(medium) {
                @include typo('body', 14);

                margin-top: 4rem;
            }
        }
    }

    &__btn {
        position: relative;

        @include media-breakpoint-down(medium) {
            position: absolute;
            right: 1.2rem;
            bottom: 4.4rem;
        }

        > input {
            @include size(100%);

            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;

            &:checked ~ .cart-coupon__btn-item {
                &:nth-child(2) {
                    display: none;
                }

                &:last-child {
                    display: flex;
                }
            }
        }
        
        &-item {
            display: flex;
            align-items: center;

            &:last-child {
                display: none;
            }
        }
    }
}