.member-top {
    @include size(100%, auto);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    border-top: 1px solid map-get($colors, brand-1);
    border-bottom: 1px solid map-get($colors, brand-1);

    &-title {
        display: flex;
        align-items: center;
        gap: .8rem;

        > svg {
            @include size(4rem, auto);

            color: map-get($colors, brand-1);
        }

        > h1 {
            @include typo('head', 4);
        }
    }
}