.products-card {
    @include size(100%, auto);

    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    > figure {
        @include size(100%, auto);
        @include aspect(1);

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .6rem;
        overflow: hidden;
        
        > img {
            @include size(100%);

            position: absolute;
            object-fit: cover;
        }
    }

    &__row {
        @include size(100%, auto);
        
        display: flex;
        justify-content: space-between;

        &-category {
            @include typo('body', 14);

            padding: 0.4rem 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: map-get($colors, brand-1);
            color: map-get($colors, white);
            border-radius: .4rem;
        }

        &-promote {
            @include typo('body', 16);

            padding: 0.4rem 1.6rem;
            justify-content: center;
            align-items: center;
            background-color: map-get($colors, promote);
            color: map-get($colors, red);
            display: none;
            border-radius: 5rem;
            font-weight: bold;

            &.-show {
                display: flex;
            }
        }
    }

    > h4 {
        @include typo('head', 3);
    }

    &__price {
        display: flex;
        flex-direction: column;

        &-original {
            @include typo('body', 14);

            color: map-get($colors, gray-1);
            text-decoration: line-through;
            display: none;

            &.-show {
                display: flex;
            }
        }

        &-now {
            @include typo('head', 3);

            color: map-get($colors, red);
            font-weight: bold;
        }
    }

    > p {
        @include typo('body', 16);

        color: map-get($colors, brand-3);
    }
}