.title {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.-white {
        color: map-get($colors, white);
        
        > svg {
            color: map-get($colors, white);
        }
    }

    > svg {
        @include size(9rem, auto);
        margin-bottom: 2rem;

        color: map-get($colors, brand-1);

        @include media-breakpoint-down(medium) {
            @include size(6.4rem, auto);

            margin-bottom: 1.2rem;
        }
    }

    > h3 {
        @include typo('head', 1);

        @include media-breakpoint-down(medium) {
            @include typo('head', 3);
        }
    }
}