.page-about {
    @include size(100vw, auto);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.2rem;
    padding-bottom: 23.2rem;

    @include media-breakpoint-down(medium) {
        padding-top: 4.4rem;
        padding-bottom: 12rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;

        @include media-breakpoint-down(medium) {
            gap: 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 4rem 0;
        gap: 6rem;

        @include media-breakpoint-down(medium) {
            gap: 2.4rem;
        }

        > figure {
            @include size(100%, auto);
            @include aspect(0.66);

            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            @include media-breakpoint-down(medium) {
                @include size(100vw, auto);
            }
            
            > img {
                @include size(100%, auto);

                position: absolute;
                object-fit: cover;
            }
        }

        > p {
            @include typo('body', 16);

            color: map-get($colors, brand-1);

            @include media-breakpoint-down(medium) {
                padding: 0 2.4rem;
            }
        }
    }

    &__traffic {
        @include size(100vw, auto);

        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 8rem;
        padding-bottom: 8rem;
        background-color: map-get($colors, brand-1);
        gap: 3.6rem;
        z-index: 1;
        color: map-get($colors, white);
        margin-bottom: 6rem;

        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 3.6rem;

            @include media-breakpoint-down(medium) {
                gap: 2.4rem;
            }

            > p {
                @include typo('head', 5);

                text-align: center;

                @include media-breakpoint-down(medium) {
                    @include typo('body', 16);

                    text-align: left;
                }
            }
        }
    }

    &__navigation {
        @include size(100vw, auto);

        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 8rem;
        
        @include media-breakpoint-down(medium) {
            padding-bottom: 4rem;
        }

        &-wrapper {
            display: flex;

            > figure {
                @include size(50vw, auto);
                @include aspect(0.71);

                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                @include media-breakpoint-down(medium) {
                    @include size(100vw, auto);
                }

                > img {
                    @include size(100%);

                    position: absolute;
                    object-fit: cover;
                }
            }
        }

        &-bottom {
            @include size(100%, auto);

            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 3.5rem;
            margin-top: -6.4rem;
            z-index: 1;

            @include media-breakpoint-down(medium) {
                padding-top: 2.5rem;
                margin-top: -4rem;
            }

            > svg {
                @include size(58.5rem, auto);

                position: absolute;
                top: 0;

                @include media-breakpoint-down(medium) {
                    @include size(24.5rem, auto);
                }
            }

            > h2 {
                @include typo('head', 1);

                margin-bottom: 2.8rem;
                z-index: 1;

                @include media-breakpoint-down(medium) {
                    @include typo('head', 3);

                    margin-bottom: 1.6rem;
                }
            }

            &-control {
                @include size(100%, auto);

                display: flex;
                align-items: center;
                justify-content: center;
                color: map-get($colors, brand-1);
                gap: 3.6rem;
                z-index: 1;

                @include media-breakpoint-down(medium) {
                    align-items: flex-end;
                }
                
                &-prev, &-next {
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;
                    cursor: pointer;

                    > span {
                        @include size(3.2rem);

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        border: 1px solid map-get($colors, brand-1);

                        > svg {
                            @include size(1.5rem, auto);
                        }
                    }
                }
            }

            &-pagination {
                display: flex;
                justify-content: center;
                width: auto !important;

                @include media-breakpoint-down(medium) {
                    margin-bottom: 4.8rem;
                }

                > span {
                    @include size(1.2rem);

                    border: 1px solid map-get($colors, brand-1);
                    background-color: transparent;
                    opacity: 0.6 !important;

                    &.swiper-pagination-bullet-active {
                        background-color: map-get($colors, brand-1);
                        opacity: 1 !important;
                    }
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;
        

        &-tab {
            display: flex;
            align-items: center;
            gap: 2.4rem;
        }

        &-wrapper {
            @include size(100%, auto);

            display: none;
            grid-template-columns: repeat(3, 1fr);
            gap: 6rem 4rem;

            @include media-breakpoint-down(medium) {
                grid-template-columns: repeat(2, 1fr);
                gap: 2.4rem;
            }
            
            &.-show {
                display: grid;
            }
        }
    }
}