.page-cart-completed {
    @include size(100vw, auto);

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 42rem);
    padding-top: 8.2rem;
    padding-bottom: 10.6rem;
    z-index: 99;

    @include media-breakpoint-down(medium) {
        padding-top: 8.8rem;
        padding-bottom: 5.2rem;
    }

    .-desktop {
        display: block;

        @include media-breakpoint-down(medium) {
            display: none;
        }
    }

    .-mobile {
        display: none;

        @include media-breakpoint-down(medium) {
            display: block;
        }
    }

    &__progress {
        @include size(100%, auto);

        display: flex;
        justify-content: space-between;
        margin-top: 6rem;
        margin-bottom: 4rem;

        @include media-breakpoint-down(medium) {
            margin-top: 0;
        }

        > span {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            &:first-child {
                > span {
                    &::before {
                        display: none;
                    }
                }
            }

            &:last-child {
                > span {
                    &::after {
                        display: none;
                    }
                }
            }

            &.-active {
                > p {
                    color: map-get($colors, brand-1);
                }

                > span {
                    background-color: map-get($colors, brand-1);
                }
            }

            &.-progress {
                > span {
                    background-color: map-get($colors, brand-1);

                    &::after {
                        background-color: map-get($colors, brand-1);
                    }
                }

                + span {
                    > span {
                        &::before {
                            background-color: map-get($colors, brand-1);
                        }
                    }
                }
            }

            > p {
                @include typo('head', 5);

                color: map-get($colors, gray-1);

                @include media-breakpoint-down(medium) {
                    @include typo('body', 16);
                }
            }

            > span {
                @include size(1.2rem);

                content: '';
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: map-get($colors, gray-1);

                &::after {
                    @include size(12vw, .2rem);

                    content: '';
                    position: absolute;
                    left: 0;
                    background-color: map-get($colors, gray-1);
                    z-index: -1;

                    @include media-breakpoint-down(medium) {
                        @include size(20vw, .2rem);
                    }
                }

                &::before {
                    @include size(12vw, .2rem);

                    content: '';
                    position: absolute;
                    right: 0;
                    border-radius: 50%;
                    background-color: map-get($colors, gray-1);
                    z-index: -1;

                    @include media-breakpoint-down(medium) {
                        @include size(20vw, .2rem);
                    }
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 4rem 0;
        gap: 3.6rem;

        @include media-breakpoint-down(medium) {
            padding-top: 0;
        }

        &.-hide {
            display: none;
        }

        &-top {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media-breakpoint-down(medium) {
                align-items: flex-start;
            }

            > p {
                @include typo('body', 16);

                font-weight: bold;
            }
        }
    }

    &__receipt {
        @include size(100%, auto);

        display: flex;
        flex-direction: column;

        &-top {
            @include size(100%, auto);

            display: flex;
            justify-content: space-between;
            margin-bottom: 2.4rem;

            &-btn {
                display: flex;
                gap: 1.6rem;
                cursor: pointer;

                &.-active {
                    > svg {
                        transform: rotateX(180deg);
                    }
                }

                > p {
                    @include typo('body', 16);

                    color: map-get($colors, brand-1);
                }

                > svg {
                    @include size(1.2rem, auto);

                    transition: transform .6s ease-in-out;
                }
            }
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            border-top: 1px solid map-get($colors, brand-1);
            border-bottom: 1px solid map-get($colors, brand-1);
            transition: max-height .6s ease-in-out, padding .6s ease-in-out;
            padding: 2.4rem 0;
            
            &.-hide {
                padding: 0;
                max-height: 0 !important;
                pointer-events: none;
            }

            > ul {
                @include size(100%, auto);

                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                padding: 1.2rem 1.6rem;
                background-color: map-get($colors, white);
                border: 1px solid map-get($colors, brand-1);
                border-radius: .4rem;

                > li {
                    @include size(100%, auto);
                    @include typo('body', 16);

                    display: flex;
                    justify-content: space-between;
                    gap: .8rem;

                    > p {
                        &:first-child {
                            flex: 0 0 auto;
                        }

                        &:last-child {
                            color: map-get($colors, brand-1);
                            text-align: right;
                        }
                    }
                }
            }

            &-total {
                @include size(100%, auto);
            
                display: flex;
                align-items: center;
                justify-content: space-between;

                > p {
                    @include typo('body', 16);
                }

                > h2 {
                    @include typo('head', 2);

                    color: map-get($colors, red);
                }
            }
        }
    }

    &__bottom {
        @include size(100%, auto);

        display: flex;
        justify-content: center;
        gap: 1.6rem;
        padding: 2.4rem 0;

        @include media-breakpoint-down(medium) {
            flex-direction: column;
            padding: 0;
        }

        &.-hide {
            display: none;
            pointer-events: none;
        }
    }

    &__fail {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.6rem;

        &.-hide {
            display: none;
        }
        
        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: map-get($colors, red);
            padding: 2.4rem 0;
            gap: .4rem;

            @include media-breakpoint-down(medium) {
                @include size(100%, auto);

                align-items: flex-start;
                padding: 0;
            }

            > svg {
                @include size(2rem, auto);
            }
    
            > h2 {
                @include typo('body', 16);
    
                font-weight: bold;
            }
        }

        &-btn {
            padding: 2.4rem 0;

            @include media-breakpoint-down(medium) {
                @include size(100%, auto);

                padding: 0;
            }
        }
    }

    &__popup {
        @include size(100vw, 100vh);

        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 12rem;
        padding-bottom: 12rem;
        overflow: scroll;
        z-index: 1000;
        opacity: 0;
        transform: translateY(4.8rem);
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;
        pointer-events: none;

        @include media-breakpoint-down(medium) {
            padding-left: 0;
            padding-right: 0;
        }
        
        &.-active {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }
        
        &-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding: 4.8rem 3.2rem;
            background-color: map-get($colors, red);
            border-radius: .8rem;

            @include media-breakpoint-down(medium) {
                padding: 3.2rem 2.4rem;
            }
            
            &-close {
                @include size(100%, auto);
                
                position: absolute;
                top: 1.8rem;
                right: 2.4rem;
                display: flex;
                justify-content: flex-end;
                color: map-get($colors, white);
                cursor: pointer;
                
                > svg {
                    @include size(1.6rem, auto);
                }
            }

            > h3 {
                @include typo('body', 16);

                font-weight: bold;
                text-align: center;
                color: map-get($colors, white);
            }
        }

    }
}