.page-cart-checkout {
    @include size(100vw, auto);

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.2rem;
    padding-bottom: 10.6rem;
    z-index: 1;

    @include media-breakpoint-down(medium) {
        padding-top: 8.8rem;
        padding-bottom: 13.4rem;
    }

    .-desktop {
        display: block;

        @include media-breakpoint-down(medium) {
            display: none;
        }
    }

    .-mobile {
        display: none;

        @include media-breakpoint-down(medium) {
            display: block;
        }
    }

    &__progress {
        @include size(100%, auto);

        display: flex;
        justify-content: space-between;
        margin-top: 6rem;
        margin-bottom: 4rem;

        @include media-breakpoint-down(medium) {
            margin-top: 0;
        }

        > span {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            @include media-breakpoint-down(medium) {
                gap: 1.2rem;
            }

            &:first-child {
                > span {
                    &::before {
                        display: none;
                    }
                }
            }

            &:last-child {
                > span {
                    &::after {
                        display: none;
                    }
                }
            }

            &.-active {
                > p {
                    color: map-get($colors, brand-1);
                }

                > span {
                    background-color: map-get($colors, brand-1);
                }
            }

            &.-progress {
                > span {
                    background-color: map-get($colors, brand-1);

                    &::after {
                        background-color: map-get($colors, brand-1);
                    }
                }

                + span {
                    > span {
                        &::before {
                            background-color: map-get($colors, brand-1);
                        }
                    }
                }
            }

            > p {
                @include typo('head', 5);

                color: map-get($colors, gray-1);

                @include media-breakpoint-down(medium) {
                    @include typo('body', 16);
                }
            }

            > span {
                @include size(1.2rem);

                content: '';
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: map-get($colors, gray-1);

                &::after {
                    @include size(12vw, .2rem);

                    content: '';
                    position: absolute;
                    left: 0;
                    background-color: map-get($colors, gray-1);
                    z-index: -1;

                    @include media-breakpoint-down(medium) {
                        @include size(20vw, .2rem);
                    }
                }

                &::before {
                    @include size(12vw, .2rem);

                    content: '';
                    position: absolute;
                    right: 0;
                    border-radius: 50%;
                    background-color: map-get($colors, gray-1);
                    z-index: -1;

                    @include media-breakpoint-down(medium) {
                        @include size(20vw, .2rem);
                    }
                }
            }
        }
    }

    &__checkout {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.6rem;

        &-receipt {
            @include size(100%, auto);

            display: flex;
            flex-direction: column;
            gap: 2.4rem;

            > ul {
                @include size(100%, auto);

                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                padding: 1.2rem 1.6rem;
                background-color: map-get($colors, white);
                border: 1px solid map-get($colors, brand-1);
                border-radius: .4rem;

                > li {
                    @include size(100%, auto);
                    @include typo('body', 16);

                    display: flex;
                    justify-content: space-between;
                    gap: .8rem;

                    > p {
                        &:first-child {
                            flex: 0 0 auto;
                        }

                        &:last-child {
                            color: map-get($colors, brand-1);
                            text-align: right;
                        }
                    }
                }
            }
        }

        &-payment {
            @include size(100%, auto);
    
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
    
            > h3 {
                @include typo('head', 2);
            }

            > span {
                display: flex;
                align-items: center;
                gap: .8rem;

                > label {
                    display: flex;
                    align-items: center;
                    
                    cursor: pointer;
                }

                > input {
                    @include size(1.6rem);

                    &:checked {
                        &::before {
                            @include size(1.6rem);

                            content: '';
                            display: block;
                            border: 1px solid map-get($colors, brand-1);
                            background-color: map-get($colors, brand-1);
                            border-radius: 50%;
                        }
                    }

                    &::before {
                        @include size(1.6rem);

                        content: '';
                        display: block;
                        border: 1px solid map-get($colors, brand-1);
                        border-radius: 50%;
                    }
                }
            }
        }

        > hr {
            @include size(100%, auto);

            margin: 0;
            border-top: 1px solid map-get($colors, brand-1);
        }

        &-invoice {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.2rem;
    
            > h3 {
                @include typo('head', 2);
            }

            > span {
                display: flex;
                align-items: center;
                gap: .8rem;

                > label {
                    display: flex;
                    align-items: center;
                    
                    cursor: pointer;
                }

                > input {
                    @include size(1.6rem);

                    &:checked {
                        &::before {
                            @include size(1.6rem);

                            content: '';
                            display: block;
                            border: 1px solid map-get($colors, brand-1);
                            background-color: map-get($colors, brand-1);
                            border-radius: 50%;
                        }
                    }

                    &::before {
                        @include size(1.6rem);

                        content: '';
                        display: block;
                        border: 1px solid map-get($colors, brand-1);
                        border-radius: 50%;
                    }
                }
            }

            > input {
                padding: 0.6rem 1.2rem;
                border: 1px solid map-get($colors, brand-1);
            }
        }

        &-agreement {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            > label {
                @include typo('body', 16);
    
                display: flex;
                align-items: center;
                gap: .8rem;
                cursor: pointer;
    
                > input {
                    @include size(1.6rem);
    
                    &:checked {
                        &::before {
                            @include size(1.6rem);
    
                            content: '';
                            display: block;
                            border: 1px solid map-get($colors, brand-1);
                            background-color: map-get($colors, brand-1);
                        }
                    }
    
                    &::before {
                        @include size(1.6rem);
    
                        content: '';
                        display: block;
                        border: 1px solid map-get($colors, brand-1);
                    }
                }
            }
        }

        &-total {
            @include size(100%, auto);
            
            display: flex;
            align-items: center;
            justify-content: space-between;

            > p {
                @include typo('body', 16);
            }

            > h2 {
                @include typo('head', 2);

                color: map-get($colors, red);
            }
        }
    }

    &__bottom {
        @include size(100%, auto);

        display: flex;
        justify-content: center;
        margin-top: 3.6rem;
        gap: 1.6rem;
        padding: 2.4rem 0;

        @include media-breakpoint-down(medium) {
            padding: 0;
        }

        &-btn {
            @include media-breakpoint-down(medium) {
                @include size(100%, auto);
            }
        }
    }

    &__mobile {
        display: none;

        @include media-breakpoint-down(medium) {
            @include size(100vw, 100%);

            position: absolute;
            top: 0;
            left: 0;
            display: block;
            pointer-events: none;

            &-wrapper {
                @include size(100%, auto);

                position: sticky;
                left: 0;
                top: calc(100vh - 8.1rem);
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: map-get($colors, white);
                padding-top: 2.4rem;
                padding-bottom: 2.4rem;
                box-shadow: 0px -3px 3px 0px rgba(map-get($colors, black-1), 0.15);
                pointer-events: auto;
            }

            &-text {
                display: flex;
                align-items: center;
                gap: .8rem;

                > p {
                    @include typo('body', 12);
                }

                > span {
                    @include typo('head', 4);

                    color: map-get($colors, red);
                }
            }
        }
    }
}