.page-cart-information {
    @include size(100vw, auto);

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.2rem;
    padding-bottom: 10.6rem;
    z-index: 1;

    @include media-breakpoint-down(medium) {
        padding-top: 8.8rem;
        padding-bottom: 20rem;
    }

    .-desktop {
        display: block;

        @include media-breakpoint-down(medium) {
            display: none;
        }
    }

    .-mobile {
        display: none;

        @include media-breakpoint-down(medium) {
            display: block;
        }
    }

    &__information {
        display: flex;
        flex-direction: column;
        padding: 4rem 0;
        gap: 3.6rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.4rem;

        > h2 {
            @include size(100%, auto);
            @include typo('head', 4);
            
            text-align: center;
        }

        > label {
            @include typo('body', 16);

            display: flex;
            align-items: center;
            gap: .8rem;
            cursor: pointer;

            > input {
                @include size(1.6rem);

                &:checked {
                    &::before {
                        @include size(1.6rem);

                        content: '';
                        display: block;
                        border: 1px solid map-get($colors, brand-1);
                        background-color: map-get($colors, brand-1);
                    }
                }

                &::before {
                    @include size(1.6rem);

                    content: '';
                    display: block;
                    border: 1px solid map-get($colors, brand-1);
                }
            }
        }

        &-wrapper {
            @include size(100%, auto);

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2.4rem;

            @include media-breakpoint-down(medium) {
                display: flex;
                flex-direction: column;
            }

            &-col {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                > p {
                    display: flex;
                    gap: .4rem;
    
                    > span {
                        color: map-get($colors, red);
                    }
                }

                > input {
                    padding: 0.6rem 1.2rem;
                    border: 1px solid map-get($colors, brand-1);
                    border-radius: .4rem;
                    background-color: map-get($colors, white);
                    min-height: 3.6rem;
                }

                > span {
                    display: flex;
                    gap: 2.4rem;
                    
                    > div {
                        display: flex;
                        align-items: center;
                        gap: .8rem;

                        > label {
                            display: flex;
                            align-items: center;
                            
                            cursor: pointer;
                        }

                        > input {
                            @include size(1.6rem);
        
                            &:checked {
                                &::before {
                                    @include size(1.6rem);
        
                                    content: '';
                                    display: block;
                                    border: 1px solid map-get($colors, brand-1);
                                    background-color: map-get($colors, brand-1);
                                    border-radius: 50%;
                                }
                            }
        
                            &::before {
                                @include size(1.6rem);
        
                                content: '';
                                display: block;
                                border: 1px solid map-get($colors, brand-1);
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        @include size(100%, auto);

        display: flex;
        justify-content: center;
        gap: 1.6rem;
        padding: 2.4rem 0;

        @include media-breakpoint-down(medium) {
            padding: 0;
        }

        &-btn {
            @include media-breakpoint-down(medium) {
                @include size(100%, auto);
            }
        }
    }

    &__mobile {
        display: none;

        @include media-breakpoint-down(medium) {
            @include size(100vw, 100%);

            position: absolute;
            top: 0;
            left: 0;
            display: block;
            pointer-events: none;

            &-wrapper {
                @include size(100%, auto);

                position: sticky;
                left: 0;
                top: calc(100vh - 8.1rem);
                background-color: map-get($colors, white);
                padding-top: 2.4rem;
                padding-bottom: 2.4rem;
                box-shadow: 0px -3px 3px 0px rgba(map-get($colors, black-1), 0.15);
                pointer-events: auto;
            }

            &-text {
                display: flex;
                align-items: center;
                gap: .8rem;

                > p {
                    @include typo('body', 12);
                }

                > span {
                    @include typo('head', 4);

                    color: map-get($colors, red);
                }
            }
        }
    }
}