.page-charity {
    @include size(100vw, auto);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.2rem;
    padding-bottom: 23.2rem;
    gap: 6rem;

    @include media-breakpoint-down(medium) {
        gap: 0;
        padding-top: 4.4rem;
        padding-bottom: 8rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;

        &-content {
            @include size(100%, auto);

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 4rem 0;
            gap: 6rem;
            color: map-get($colors, brand-1);

            @include media-breakpoint-down(medium) {
                gap: 2.4rem;
            }

            &-list {
                display: flex;
                flex-direction: column;
                
                > li {
                    display: flex;
                    flex-direction: column;
                    gap: .4rem;
                    padding: 1.2rem 0;
                    border-bottom: 1px solid map-get($colors, brand-1);
                    cursor: pointer;

                    &:first-child {
                        border-top: 1px solid map-get($colors, brand-1);
                    }

                    &.-active {
                        > .page-charity__wrapper-content-list-top {
                            > .page-charity__wrapper-content-list-top-icon {
                                > svg {
                                    transform: rotateX(180deg);
                                }
                            }
                        }
                    }
                }

                &-top {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: .4rem;

                    > span {
                        > div {
                            display: flex;
                            flex-direction: column;
                            gap: .4rem;

                            &:last-child {
                                grid-column-start: 2;
                                grid-column-end: 7;

                                @include media-breakpoint-down(medium) {
                                    grid-column-start: 2;
                                    grid-column-end: 5;
                                }
                            }
                        }
                    }

                    &-icon {
                        @include size(auto, 100%);

                        position: absolute;
                        right: 0;
                        display: flex;
                        align-items: center;
                        padding: 0.8rem;

                        > svg {
                            @include size(1.6rem, auto);

                            transition: transform 0.3s ease-in-out;
                        }
                    }
                }

                &-accordion {
                    display: flex;
                    flex-direction: column;
                    gap: .4rem;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease-in-out;

                    > span {
                        > div {
                            &:last-child {
                                grid-column-start: 2;
                                grid-column-end: 7;

                                @include media-breakpoint-down(medium) {
                                    grid-column-start: 2;
                                    grid-column-end: 5;
                                }
                            }
                        }
                    }

                    &-btn {
                        margin-top: 2rem;
                    }
                }
            }

            &-video {
                @include size(100%, auto);

                position: relative;
                z-index: 1;

                .plyr {
                    &__control--overlaid {
                        background: rgba(map-get($colors, white), .6) !important;
                    }
                
                    &__control {
                        &:hover {
                            background: rgba(map-get($colors, white), .6) !important;
                        }
                    }
                
                    &--full-ui {
                        input[type=range] {
                            color: rgba(map-get($colors, white), .6) !important;
                        }
                    }
                }
            }

            &-paragraph {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;

                > h2 {
                    @include typo('head', 1);

                    text-align: center;

                    @include media-breakpoint-down(medium) {
                        @include typo('head', 4);
                    }
                }

                > p {
                    @include typo('body', 16);
                }
            }

            &-btn {
                @include media-breakpoint-down(medium) {
                    @include size(100%, auto);
                }
            }
        }
    }
}