body {
    @include typo('body', 16);
    // background-color: map-get($colors, brand-1);

    main {
        padding-top: 8.1rem;
        min-height: 100vh;
        animation: none;
        background: transparent;
    }
}

@import './about.scss';
@import './charity.scss';
@import './download.scss';
@import './news.scss';
@import './news-single.scss';
@import './service.scss';
@import './header.scss';
@import './footer.scss';
@import './dev.scss';
@import './index.scss';
@import './cart-confirm.scss';
@import './cart-information.scss';
@import './cart-checkout.scss';
@import './cart-completed.scss';
@import './products.scss';
@import './products-categories.scss';
@import './products-single.scss';
@import './components/components.scss';