body {
    @include typo('body', 16);
    // background-color: map-get($colors, brand-1);

    main {
        padding-top: 8.1rem;
        min-height: 100vh;
        animation: none;
        background: transparent;
    }
}

@import './about.scss';
@import './charity.scss';
@import './download.scss';
@import './member-change-password.scss';
@import './member-login.scss';
@import './member-logout.scss';
@import './member-information.scss';
@import './member-order.scss';
@import './member-register.scss';
@import './member-register-success.scss';
@import './member-reset-password.scss';
@import './member-verify.scss';
@import './member-forgot.scss';
@import './member-forgot-send.scss';
@import './form.scss';
@import './news.scss';
@import './news-single.scss';
@import './service.scss';
@import './header.scss';
@import './footer.scss';
@import './dev.scss';
@import './index.scss';
@import './cart-confirm.scss';
@import './cart-information.scss';
@import './cart-checkout.scss';
@import './cart-completed.scss';
@import './products.scss';
@import './products-categories.scss';
@import './products-single.scss';
@import './components/components.scss';