.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 3.2rem;
    color: map-get($colors, white);
    background-color: map-get($colors, brand-1);
    overflow: hidden;

    &__logo {
        @include size(100%, 15rem);

        display: flex;
        justify-content: center;
        margin-bottom: 3.2rem;

        > svg {
            @include size(auto, 100%);
        }
    }

    &__middle {
        @include size(100%, auto);
        
        margin-bottom: 4.5rem;

        &-info {
            display: flex;
            flex-direction: column;

            > li {
                @include typo('body', 16);

                text-align: left;
            }
        }

        &-social {
            display: flex;
            justify-content: center;
            gap: 1.6rem;

            > a {
                @include size(3.6rem);

                transition: transform .3s ease-in-out;

                @include media-breakpoint-up(medium) {
                    &:hover {
                        transform: scale(1.1);
                    }
                }

                > svg {
                    @include size(100%, auto);
                }
            }
        }

        &-map {
            display: flex;
            flex-wrap: wrap;

            > div {
                gap: .4rem 2.4rem;
            }

            a {
                text-align: right;
            }
        }
    }

    &__bottom {
        > p {
            text-align: left;
        }

        > a {
            text-align: right;
        }
    }

    &__back {
        @include size(18rem);

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 50%;
        border: 1px solid map-get($colors, white);
        padding-top: 2.4rem;
        cursor: pointer;

        @include media-breakpoint-up(medium) {
            &:hover {
                > svg {
                    transform: translateY(-.8rem);
                }
            }
        }

        > svg {
            @include size(1.8rem, auto);

            margin-bottom: 0.2rem;
            transition: transform .6s cubic-bezier(0.87, 0, 0.13, 1);
        }

        > p {
            @include typo('body', 14);
        }
    }

    &__deco {
        @include size(26vw, auto);

        position: absolute;
        top: -5vw;
        left: -5vw;
        z-index: 1;
        opacity: 0.6;

        > img {
            @include size(100%, auto);
        }

        &:last-child {
            left: auto;
            right: -5vw;
            transform: scaleX(-1);
        }
    }
}