.form {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;

    &.-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.4rem;
    }

    &__input {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        &.-require {
            > label {
                &::after {
                    @include size(.8rem, .8rem);

                    content: '*';
                    display: block;
                    color: map-get($colors, red);
                }
            }
        }

        &.-notice {
            > span {
                display: flex;
            }
        }

        &.-important {
            > span {
                display: flex;
                color: map-get($colors, red);
            }
        }

        &.-alert {
            > span {
                display: flex;
                color: map-get($colors, red);
            }

            > div {
                > input {
                    border: 1px solid map-get($colors, red);
                }
            }
        }

        &.-disable {
            > div {
                > input {
                    background-color: map-get($colors, gray-2);
                    pointer-events: none;
                }
            }
        }

        > label {
            @include typo('body', 16);

            display: flex;
        }

        > a {
            @include typo('body', 14);

            color: map-get($colors, red);
            text-decoration: underline;
        }

        > span {
            @include typo('body', 16);

            display: none;
            align-items: center;
            gap: .4rem;
            color: map-get($colors, gray-1);

            > svg {
                @include size(1.2rem, auto);
            }
        }

        > div {
            position: relative;
            display: flex;
            align-items: center;
            gap: 1.2rem;

            &.-password {
                > input {
                    padding: .6rem 1.2rem .6rem 3.2rem;
                }
            }

            > input {
                @include typo('body', 16);

                position: relative;
                padding: .6rem 1.2rem;
                border: 1px solid map-get($colors, brand-1);
                border-radius: 4px;
                color: map-get($colors, brand-1);
            }

            > div {
                flex: 0 0 auto;
            }

            > svg {
                @include size(1.2rem, auto);

                position: absolute;
                left: 1.6rem;
                color: map-get($colors, brand-1);
                z-index: 1;
            }

            .show-password {
                position: absolute;
                right: 1.6rem;
                cursor: pointer;

                > svg {
                    @include size(1.6rem, auto);

                    color: map-get($colors, gray-1);
                }
            }
        }
    }

    &__radio {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        &.-require {
            > label {
                &::after {
                    @include size(.8rem, .8rem);

                    content: '*';
                    display: block;
                    color: map-get($colors, red);
                }
            }
        }

        &.-notice {
            > span {
                display: flex;
            }
        }

        &.-alert {
            > span {
                display: flex;
                color: map-get($colors, red);
            }
        }

        > label {
            @include typo('body', 16);

            display: flex;
        }

        > a {
            @include typo('body', 14);

            color: map-get($colors, red);
            text-decoration: underline;
        }

        > span {
            @include typo('body', 16);

            display: none;
            align-items: center;
            gap: .4rem;
            color: map-get($colors, gray-1);

            > svg {
                @include size(1.2rem, auto);
            }
        }

        > div {
            display: flex;
            gap: 2.4rem;
            
            > div {
                display: flex;
                align-items: center;
                gap: .8rem;
    
                > label {
                    display: flex;
                    align-items: center;
                    
                    cursor: pointer;
                }
    
                > input {
                    @include size(1.6rem);
    
                    &:checked {
                        &::before {
                            @include size(1.6rem);
    
                            content: '';
                            display: block;
                            border: 1px solid map-get($colors, brand-1);
                            background-color: map-get($colors, brand-1);
                            border-radius: 50%;
                        }
                    }
    
                    &::before {
                        @include size(1.6rem);
    
                        content: '';
                        display: block;
                        border: 1px solid map-get($colors, brand-1);
                        border-radius: 50%;
                    }
                }
            }

        }
    }

    &__checkbox {
        display: flex;
        flex-direction: column;
        gap: .4rem;

        &.-notice {
            > span {
                display: flex;
            }
        }

        &.-alert {
            > input {
                &::before {
                    border: 1px solid map-get($colors, red);
                }
            }

            > span {
                display: flex;
                color: map-get($colors, red);
            }
        }

        > div {
            display: flex;
            align-items: center;
            gap: 1.2rem;

            > input {
                @include size(1.6rem);
    
                cursor: pointer;
    
                &:checked {
                    &::before {
                        @include size(1.6rem);
    
                        content: '';
                        display: block;
                        border: 1px solid map-get($colors, brand-1);
                        background-color: map-get($colors, brand-1);
                    }
                }
                
                &::before {
                    @include size(1.6rem);
    
                    content: '';
                    display: block;
                    border: 1px solid map-get($colors, brand-1);
                }
            }
    
            > label {
                @include typo('body', 16);
    
                cursor: pointer;

                > a {
                    @include typo('body', 16);

                    color: map-get($colors, red);
                    text-decoration: underline;
                }
            }
        }


        > span {
            @include typo('body', 16);

            display: none;
            align-items: center;
            gap: .4rem;
            color: map-get($colors, gray-1);

            > svg {
                @include size(1.2rem, auto);
            }
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 2.4rem;

        .-grid & {
            grid-column: 1 / -1;
            justify-content: center;
        }

        &-item {
            flex: 1;

            .-grid & {
                flex: none;
            }
        }
    }

    &__or {
        @include size(100%, auto);

        display: flex;
        align-items: center;

        > p {
            @include typo('body', 16);

            color: map-get($colors, brand-1);
            padding: 0 2.4rem;
        }

        &::before, &::after {
            @include size(auto, .1rem);

            display: block;
            content: '';
            flex: 1;
            background-color: map-get($colors, brand-1);
        }
    }

    > h3 {
        @include typo('body', 16);

        color: map-get($colors, brand-1);
        text-align: center;
    }

    &__social {
        display: flex;
        flex-direction: column;
        gap: 2.8rem;

        &-btn {
            @include size(100%, auto);

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: .6rem 0;
            border-radius: 5rem;
            cursor: pointer;
            box-shadow: 5px 5px 5px 0px rgba(map-get($colors, black-1), 0.15);
            background-color: map-get($colors, white);

            &.-facebook {
                background-color: #365FC9;
                color: map-get($colors, white);
            }

            &.-line {
                background-color: #2ECA4E;
                color: map-get($colors, white);
            }

            > svg {
                @include size(2rem, auto);
            }

            > p {
                @include typo('body', 16);
            }
        }
    }

    > p {
        @include typo('body', 16);

        display: flex;
        align-items: center;
        color: map-get($colors, brand-1);

        > svg {
            @include size(1.2rem, auto);

            color: map-get($colors, red);
            margin-right: 0.4rem;
        }

        > a {
            @include typo('body', 16);

            color: map-get($colors, red);
            text-decoration: underline;
        }
    }

    > a {
        @include typo('body', 16);

        color: map-get($colors, red);
        text-decoration: underline;
    }
}