
.header {
    @include typo('body', 16);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    position: fixed;
    padding: 2.4rem 0;
    background-color: map-get($colors, white);
    border-bottom: 1px solid map-get($colors, brown-line);
    animation: fadeInDown .3s .3s both;

    &__logo {
        @include media-breakpoint-down(tablet) {
            order: 2;
            margin: 0 auto;
        }

        > img {
            @include size(17rem, auto);
    
            @include media-breakpoint-down(tablet) {
                @include size(12rem, auto);
            }
        }
    }

    &__membcart{
        text-align: right;
        white-space: nowrap;

        a {
            margin-left: 2.4rem;
        }


        @include media-breakpoint-down(tablet) {
            order: 1;
            text-align: left;

            a {
                margin-left: 0;
                margin-right: 1rem;
            }

            span {
                display: none;
            }
        }
    }

    &__nav {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;

        @include media-breakpoint-down(medium) {
            display: none;
        }

        ul {
            display: flex;
            white-space: nowrap;

            a {
                padding: 2.4rem;
                color: map-get($colors, brand-1);
            }
        }
    }
}