.page-member-order {
    @include size(100vw, auto);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12rem;
    padding-bottom: 8.2rem;

    @include media-breakpoint-down(medium) {
        padding-top: 8.8rem;
        padding-bottom: 12rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
    }

    &__order {
        @include size(100%, auto);

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.8rem;
        padding: 2.4rem 0;
        z-index: 1;

        &-select {
            position: relative;
            display: flex;
            align-items: center;
            
            > select {
                @include typo('body', 16);
                
                border: 1px solid map-get($colors, brand-1);
                border-radius: 3rem;
                padding: 0.4rem 3.2rem 0.4rem 2rem;
                cursor: pointer;
            }
    
            > svg {
                @include size(1.2rem, auto);
    
                position: absolute;
                right: 1rem;
                color: map-get($colors, brand-1);
            }
        }

        &-list {
            @include size(100%, auto);

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2.4rem;

            @include media-breakpoint-down(medium) {
                display: flex;
                flex-direction: column;
            }
        }
    }
}