.page-member-privacy {
    @include size(100vw, auto);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12rem;
    padding-bottom: 8.2rem;

    @include media-breakpoint-down(medium) {
        padding-top: 8.8rem;
        padding-bottom: 5.2rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
    }

    &__content {
        @include typo('body', 16);

        padding: 2.4rem 0;
        color: map-get($colors, brand-1);
    }
}