.page-member-forgot-send {
    @include size(100vw, auto);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 8.2rem;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;
    }

    &__content {
        @include size(100%, auto);

        position: relative;
        display: flex;
        flex-direction: column;
        padding: 4rem 0;
        gap: 2rem;
        z-index: 1;

        > h2 {
            @include typo('head', 1);

            text-align: center;

            @include media-breakpoint-down(medium) {
                @include typo('head', 4);
            }
        }

        > p {
            @include typo('body', 16);

            color: map-get($colors, brand-1);
            text-align: center;
        }
    }
}