.page-member-level {
    @include size(100vw, auto);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12rem;
    padding-bottom: 8.2rem;

    @include media-breakpoint-down(medium) {
        padding-top: 8.8rem;
        padding-bottom: 5.2rem;
    }

    &__tab {
        display: flex;
        justify-content: center;
        gap: .8rem;

        @include media-breakpoint-down(medium) {
            align-items: flex-start;
            overflow: scroll;
        }
    }

    &__top {
        @include size(100%, auto);

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem 0;
        border-top: 1px solid map-get($colors, brand-1);
        border-bottom: 1px solid map-get($colors, brand-1);

        &-title {
            display: flex;
            align-items: center;
            gap: .8rem;

            > svg {
                @include size(4rem, auto);

                color: map-get($colors, brand-1);
            }

            > h1 {
                @include typo('head', 4);
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
    }

    &__content {
        padding: 2.4rem 0;
    }

    &__text {
        @include size(100%, auto);

        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        z-index: 1;
        
        > p {
            @include typo('body', 16);

            font-weight: bold;
        }
    }

    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 1;
        gap: 1.2rem;

        > li {
            padding: 1.2rem 1.6rem;
            background-color: map-get($colors, white);
            box-shadow: 5px 5px 5px 0px rgba(map-get($colors, black-1), 0.15);


            > h3 {
                @include typo('head', 5);
            }

            > p {
                @include typo('body', 16);

                color: map-get($colors, brand-1);
            }
        }
    }
}