.news-single {
    @include size(100vw, auto);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    padding-top: 8.2rem;
    padding-bottom: 23.2rem;

    @include media-breakpoint-down(medium) {
        padding-top: 4.4rem;
        padding-bottom: 8rem;
        gap:  3.2rem;
    }

    > figure {
        @include size(100vw, auto);

        position: relative;
        z-index: 1;

        > img {
            @include size(100%, auto);
        }
    }

    
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;

        @include media-breakpoint-down(medium) {
            gap: 3.6rem;
        }

        &-top {
            @include size(100%, auto);

            display: flex;
            flex-direction: column;
            gap: 2.4rem;

            > h1 {
                @include typo('head', 1);
            }
    
            &-tags {
                @include size(100%, auto);
    
                display: flex;
                justify-content: space-between;
    
                &-category {
                    @include typo('body', 16);
    
                    color: map-get($colors, white);
                    background-color: map-get($colors, red);
                    padding: 0.4rem 1.2rem;
                    border-radius: .4rem;
                }
    
                &-date {
                    @include typo('body', 16);
    
                    color: map-get($colors, red);
                }
            }
        }
        

        &-paragraph {
            display: flex;
            flex-direction: column;
            gap: 2.8rem;

            &-text {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
    
                > h2 {
                    @include typo('head', 1);
    
                    color: map-get($colors, brand-1);
                }
    
                > h3 {
                    @include typo('head', 2);
    
                    color: map-get($colors, brand-1);
                }
    
                > p {
                    @include typo('body', 16);
    
                    color: map-get($colors, brand-1);
                    white-space: pre-line;
    
                    > a {
                        color: map-get($colors, red);
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
    
            &-quote {
                position: relative;
                display: flex;
                padding: 1.6rem 2rem;
                gap: 1rem;
    
                &::before {
                    @include typo('body', 16);
                    @include size(.2rem, 100%);
    
                    content: '';
                    background-color: map-get($colors, red);
                }
            }
    
            > ol {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                color: map-get($colors, brand-1);
                counter-reset: item;
    
                > li {
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;
                    counter-increment: item;
    
                    &::before {
                        @include typo('body', 16);
    
                        content: '0' counter(item);
                        color: map-get($colors, red);
                    }
                }
            }
    
            > ul {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                color: map-get($colors, brand-1);
    
                > li {
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;
    
                    &::before {
                        @include size(.4rem);
    
                        content: '';
                        display: block;
                        border-radius: 50%;
                        margin-left: 1.2rem;
                        background-color: map-get($colors, red);
                    }
                }
            }
        }

        &-share {
            @include size(100%, auto);

            display: flex;
            align-items: center;
            gap: 1.6rem;

            @include media-breakpoint-down(medium) {
                padding: 3.2rem 0;
            }

            > p {
                @include typo('body', 16);

                font-weight: bold;
            }

            &-icons {
                display: flex;
                gap: 1.2rem;
                color: map-get($colors, brand-2);

                > button {
                    @include size(3.6rem);
                }
            }
        }

        &-btn {
            @include media-breakpoint-down(medium) {
                @include size(100%, auto);
            }
        }
    }
}