.products-single {
    @include size(100vw, auto);

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11.8rem;
    padding-bottom: 23.2rem;

    @include media-breakpoint-down(medium) {
        padding-top: 7.2rem;
        padding-bottom: 18rem;
    }

    @include media-breakpoint-down(tablet) {
        padding-top: 4.8rem;
    }

    &__swiper {
        @include size(100%, auto);

        overflow: hidden;
        
        @include media-breakpoint-down(tablet) {
            @include size(100vw, auto);

            position: relative;
            margin-left: -2.4rem;
            padding: 0 2.4rem;
        }

        &-wrapper {
            > figure {
                @include size(100%, auto);
                @include aspect(1);

                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                overflow: hidden;

                > img {
                    @include size(100%);

                    position: absolute;
                    object-fit: cover;
                }
            }
        }

        &-bottom {
            @include size(100%, auto);

            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 3.2rem;

            @include media-breakpoint-down(medium) {
                margin-top: 1.6rem;
            }

            > span {
                @include size(4rem);

                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid map-get($colors, brand-2);
                border-radius: 50%;
                background-color: rgba(#F9F5EE, .6);
                color: map-get($colors, brand-1);
                cursor: pointer;

                @include media-breakpoint-down(tablet) {
                    position: absolute;
                    top: 40%;
                    z-index: 1;

                    &:first-child {
                        left: .5rem;
                    }

                    &:last-child {
                        right: .5rem;
                    }
                }

                > svg {
                    @include size(1.8rem, auto);
                }
            }

            &-pagination {
                display: flex;
                justify-content: center;
                flex: 1;

                > span {
                    @include size(1.6rem);

                    border: 1px solid map-get($colors, brand-1);
                    border-radius: 50%;
                    background-color: transparent;
                    opacity: 1;

                    @include media-breakpoint-down(medium) {
                        @include size(1.2rem);
                    }

                    &.swiper-pagination-bullet-active {
                        background-color: map-get($colors, brand-1);
                    }
                }
            }
        }
    }

    &__information {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        @include media-breakpoint-down(medium) {
            gap: 1.6rem;
        }

        > h1 {
            @include typo('head', 2);

            @include media-breakpoint-down(medium) {
                @include typo('head', 3);
            }
        }

        &-tags {
            display: flex;
            justify-content: space-between;

            &-category {
                @include typo('head', 5);

                display: flex;
                justify-content: center;
                align-items: center;
                background-color: map-get($colors, brand-1);
                color: map-get($colors, white);
                padding: 0.4rem 1.2rem;
                border-radius: .4rem;

                @include media-breakpoint-down(medium) {
                    @include typo('body', 16);

                    font-weight: bold;
                }
            }

            &-promote {
                @include typo('head', 5);

                padding: 0.4rem 1.6rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: map-get($colors, promote);
                color: map-get($colors, red);
                border-radius: 5rem;
                font-weight: bold;

                @include media-breakpoint-down(medium) {
                    @include typo('body', 16);

                    font-weight: bold;
                }
            }
        }

        &-specification {
            display: flex;
            flex-direction: column;
            gap: .8rem;

            > h3 {
                @include typo('head', 5);
            }

            > p {
                @include typo('body', 16);

                color: map-get($colors, brand-1);
            }
        }

        > hr {
            border-top: 1px solid map-get($colors, brand-1);
            margin: 0;

            @include media-breakpoint-down(medium) {
                &.-first {
                    order: 2;
                }

                &.-second {
                    order: 4;
                }
            }
        }

        &-payment {
            display: flex;
            flex-direction: column;
            gap: .8rem;

            @include media-breakpoint-down(medium) {
                order: 3;
            }

            > h3 {
                @include typo('head', 5);

                @include media-breakpoint-down(medium) {
                    @include typo('body', 16);

                    font-weight: bold;
                }
            }

            > p {
                @include typo('body', 16);

                color: map-get($colors, brand-1);
            }
        }

        &-price {
            display: flex;
            flex-direction: column;

            @include media-breakpoint-down(medium) {
                order: 1;
            }

            &-original {
                @include typo('body', 16);

                color: map-get($colors, gray-1);
                text-decoration: line-through;
            }

            &-now {
                @include typo('head', 1);

                color: map-get($colors, red);

                @include media-breakpoint-down(medium) {
                    @include typo('head', 2);
                }
            }
        }

        &-btns {
            @include media-breakpoint-down(medium) {
                @include size(100vw, 100%);

                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
            }

            &-wrapper {
                display: flex;
                gap: 1.6rem;
    
                @include media-breakpoint-down(medium) {
                    @include size(100vw, auto);
    
                    position: sticky;
                    top: calc(100% - 8.4rem);
                    justify-content: center;
                    background-color: map-get($colors, white);
                    padding: 2.4rem;
                    gap: 1.4rem;
                    box-shadow: 0px -3px 3px 0px rgba(map-get($colors, black-1), 0.15);
                    z-index: 98;
                    pointer-events: auto;
                }
            }

            &-item {
                @include media-breakpoint-down(medium) {
                    flex: 1;
                }
            }
        }
    }

    &__description {
        margin-top: 8.2rem;

        @include media-breakpoint-down(medium) {
            margin-top: 0;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2.8rem;

            > span {
                font-weight: bold;
            }

            &-text {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                > h1 {
                    @include typo('head', 1);

                    color: map-get($colors, brand-1);

                    @include media-breakpoint-down(medium) {
                        @include typo('head', 3);
                    }
                }

                > h2 {
                    @include typo('head', 2);

                    color: map-get($colors, brand-1);

                    @include media-breakpoint-down(medium) {
                        @include typo('head', 4);
                    }
                }

                > h3 {
                    @include typo('head', 3);

                    color: map-get($colors, brand-1);

                    @include media-breakpoint-down(medium) {
                        @include typo('head', 5);
                    }
                }

                > p {
                    @include typo('body', 16);

                    color: map-get($colors, brand-1);
                    white-space: pre-line;

                    > a {
                        color: map-get($colors, red);
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            &-quote {
                position: relative;
                display: flex;
                padding: 1.6rem 2rem;
                gap: 1rem;

                &::before {
                    @include typo('body', 16);
                    @include size(.2rem, 100%);

                    content: '';
                    background-color: map-get($colors, red);
                }
            }

            > ol {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                color: map-get($colors, brand-1);
                counter-reset: item;

                > li {
                    display: flex;
                    align-items: flex-start;
                    gap: 1.2rem;
                    counter-increment: item;

                    &::before {
                        @include typo('body', 16);

                        content: '0' counter(item);
                        color: map-get($colors, red);
                    }
                }
            }

            > ul {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                color: map-get($colors, brand-1);

                > li {
                    display: flex;
                    align-items: flex-start;
                    gap: 1.2rem;

                    &::before {
                        @include size(.4rem);

                        content: '';
                        display: block;
                        border-radius: 50%;
                        margin-top: 1rem;
                        margin-left: 1.2rem;
                        background-color: map-get($colors, red);
                    }
                }
            }
        }

        > figure {
            padding: 3.2rem 0;
        }

        &-video {
            @include size(100%, auto);

            padding: 1.6rem 0;

            .plyr {
                &__control--overlaid {
                    background: rgba(map-get($colors, white), .6) !important;
                }
            
                &__control {
                    &:hover {
                        background: rgba(map-get($colors, white), .6) !important;
                    }
                }
            
                &--full-ui {
                    input[type=range] {
                        color: rgba(map-get($colors, white), .6) !important;
                    }
                }
            }
        }
    }

    &__recommend {
        @include size(100%, auto);
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;
        padding: 3.2rem 0;

        @include media-breakpoint-down(medium) {
            padding-bottom: 0;
        }

        &-wrapper {
            @include size(calc(100% + 4.8rem), auto);

            overflow: hidden;
            padding: 0 2.4rem;

            @include media-breakpoint-down(medium) {
                @include size(100%, auto);

                padding: 0;
                overflow: visible;
            }
        }

        &-btn {
            @include media-breakpoint-down(medium) {
                @include size(20rem, auto);
            }

            @include media-breakpoint-down(tablet) {
                @include size(100%, auto);
            }
        }

        &-swiper {
            @include size(100%, auto);

            position: relative;

            @include media-breakpoint-down(medium) {
                overflow: hidden;
                padding: 0 2.4rem;
            }
            
            @include media-breakpoint-down(tablet) {
                @include size(100vw, auto);

                margin-left: -2.4rem;
            }

            > button {
                @include size(4rem);
    
                position: absolute;
                top: 22%;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid map-get($colors, brand-2);
                border-radius: 50%;
                background-color: rgba(#F9F5EE, .6);
                color: map-get($colors, brand-1);
                cursor: pointer;

                &.products-single__recommend-swiper-navigation-prev{
                    left: 0;
                    transform: translateX(-50%);

                    @include media-breakpoint-down(medium) {
                        left: .5rem;
                        transform: translateX(0);
                    }
                }

                &.products-single__recommend-swiper-navigation-next {
                    right: 0;
                    transform: translateX(50%);

                    @include media-breakpoint-down(medium) {
                        right: .5rem;
                        transform: translateX(0);
                    }
                }

                > svg {
                    @include size(1.8rem, auto);
                }
            }
        }
    }
}