.page-search {
    @include size(100vw, auto);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 23.2rem;

    @include media-breakpoint-down(medium) {
        padding-top: 4.4rem;
        padding-bottom: 12rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 2.4rem 0;
        gap: 3.2rem;

        > h1 {
            @include typo('head', 2);

            color: map-get($colors, black-1);
            text-align: center;

            @include media-breakpoint-down(medium) {
                @include typo('head', 4);
            }

            > span {
                color: map-get($colors, brand-1);
            }
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        padding: 3.2rem 0;
        
        border-bottom: 1px solid map-get($colors, brand-1);
        gap: 3.2rem;

        &:not(:nth-child(3)) {
            border-top: 1px solid map-get($colors, brand-1);
        }

        &:nth-child(3) {
            border-bottom: 0px;
        }
        
        &:last-child {
            border-bottom: 0px;
        }

        > h2 {
            @include typo('head', 3);

            color: map-get($colors, black-1);
            text-align: center;

            @include media-breakpoint-down(medium) {
                @include typo('head', 4);
            }

            > span {
                color: map-get($colors, brand-1);
            }
        }

        &-products {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 8rem 2.4rem;
    
            @include media-breakpoint-down(medium) {
                grid-template-columns: repeat(2, 1fr);
                gap: 3.2rem 1.6rem;
            }
        }

        &-news {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 8rem 2.4rem;
    
            @include media-breakpoint-down(medium) {
                display: flex;
                flex-direction: column;
                gap: 3.6rem;
            }
        }
    }
}